<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/personal.css"/>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
        <title>Links</title>
	</head>
	<body>
        <section class="info">
            <img src="/public/profile.avif" alt="profile picture"/> 
            <h1>Rodrigo Massieu</h1>
            <p>Frontend developer & Engineer. Boardgames lover ♘.</p>
        </section>
        <section class="personal">
            <h2>Personal</h2>
                <ul class="links">
                    <li class="icon-wrapper"><img class="icon" src="/public//logo-discord.svg" alt="discord-icon"/><a href="#"><span>Discord</span></a></li>
                    <li class="icon-wrapper"><img class="icon" src="/public//logo-instagram.svg" alt="instagram-icon"/><a href="#"><span>Instagram</span></a></li>
                    <li class="icon-wrapper"><img class="icon" src="/public/logo-linkedin.svg" alt="linkedIn-icon"/><a href="https://www.linkedin.com/in/rodrigo-massieu-garc%C3%ADa-958461205/"><span>LinkedIn</span></a></li>
                </ul>
        </section>
        
        <section class="professional">
            <h2>Professional</h2>
                <ul class="links">
                    <li class="icon-wrapper"><img class="icon" src="/public/logo-github.svg" alt="github-icon"/><a href="#"><span>GitHub</span></a></li>
                    <li class="icon-wrapper"><img class="icon" src="/public/logo-whatsapp.svg" alt="whatsApp-icon"/><a href="#"><span>WhatsApp</span></a></li>
                    <li class="icon-wrapper"><img class="icon" src="/public/logo-mail.svg" alt="mail-icon"/><a href="#"><span>Mail</span></a></li>
                </ul>
            
        </section>
        
	</body>
</html>